@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-primary-dark: #0e62b6;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --font-display: "Lexend", sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  font-family: "Lexend", sans-serif;
}

.text-primary-gradient {
  background: linear-gradient(135deg, #137fec 0%, #0c4a8a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
